<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://code.jquery.com/jquery-3.6.1.js"
      integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet"
    href="{{url_for('static',filename='home.style.css')}}"
  </head>
  <body>
    <nav class="navbar">
      <div class="searchContainer">
        <input
          type="text"
          name="searchBox"
          id="searchBox"
          placeholder="search"
        />
        <button id="searchButton">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
      <div class="userProfile">
        <div class="logout">
          <a href="{{url_for('logout')}}" target="" rel="">Logout</a>
        </div>
      </div>
    </nav>
    <div class="news">
      <ul id="newsList"></ul>
    </div>
    <script src="{{url_for('static',filename='ajaxRequests.js')}}"></script>
  </body>
</html>

{#

<h1>hi u have succefully logged in</h1>
<a href="{{url_for('logout')}}">Logout</a>
<input type="text" placeholder="search" id="search" />
<script
  src="https://code.jquery.com/jquery-3.6.1.js"
  integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
  crossorigin="anonymous"
></script>
<input type="button" value="get news !" id="getNews" />
<ul id="newslist"></ul>
<script src="{{url_for('static',filename='ajaxRequests.js')}}"></script>
#}
