
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Login and Registration in HTML | CodingNepal</title>
    <link rel="stylesheet" href="../static/index.style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="wrapper">
      <div class="title-text">
        <div class="title login">Login</div>
        <div class="title signup">Signup</div>
      </div>
      <div class="form-container">
        <div class="slide-controls">
          <input type="radio" name="slide" id="login" checked />
          <input type="radio" name="slide" id="signup" />
          <label for="login" class="slide login">Login</label>
          <label for="signup" class="slide signup">Signup</label>
          <div class="slider-tab"></div>
        </div>
        <div class="form-inner">
          <form action="" class="login" id="loginForm">
            <div class="field">
              <input
                type="text"
                id="log_in_email"
                placeholder="Email"
                required
              />
            </div>
            <div class="field">
              <input
                type="password"
                id="log_in_password"
                placeholder="Password"
                required
              />
            </div>
            <div class="pass-link">
              <a href="#">Forgot password?</a>
            </div>
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" value="login" id="loginbutton" />
            </div>

            <div class="signup-link">
              Not a member? <a href="">Signup now</a>
            </div>
          </form>
          <form action="" class="signup" id="registerForm">
            <div class="field">
              <input type="email" placeholder="Email Address" required id="email" name="email" value=""/>
            </div>
            <div class="field">
              <input type="text" placeholder="Username" required id="username" name="username" value=""/>
            </div>
            <div class="field">
              <input type="password" placeholder="Password" required id="password" name="password" value=""/>
            </div>
            <div class="field">
              <input type="password" placeholder="Confirm password" required id="confirmPassword" name="confirmPassword" value=""/>
            </div>
            <div class="field">
              <input type="number" placeholder="Phone Number" required id="phoneNumber" name="phoneNumber" value=""/>
            </div>
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" value="Signup" id="registerButton" />
            </div>
          </form>
        </div>
      </div>
    </div>
    <span style="" id="message" class=""><p id="message_p"></p></span>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"> </script>
    <script src="{{url_for('static',filename='index.script.js')}}"></script>
  </body>
</html>
